.about-school {
  @include tablet {
    min-height: 450px;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: $primary-text;
    max-width: 860px;
    text-rendering: geometricPrecision;
    color: #1D3628;
    margin-bottom: 16px;

    @include tablet {
      font-size: 44px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    font-family: $secondary-text;
    margin-bottom: 24px;
    color: #1D3628;

    @include tablet {
      font-size: 18px;
    }

    strong {
      font-weight: 600;
      color: #1D3628;
    }
  }
}