.header-img {
  width: 100%;
  height: 80vh;
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;

  @include tablet {
    height: calc(100vh - 200px);
  }

  .container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  &__content {
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 640px;

    &__buttons {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      margin-top: 16px;

      .btn__secondary {
        margin-left: 12px;
      }
    }

    h1 {
      color: white;
      font-size: 32px;
      text-align: left;
      font-family: $primary-text;
      max-width: 860px;
      text-rendering: geometricPrecision;
      font-weight: 400;

      @include tablet {
        font-size: 48px;
      }
    }

    h2 {
      color: white;
      font-size: 30px;
      text-align: left;
      font-family: $primary-text;
      max-width: 860px;
      text-rendering: geometricPrecision;
      font-weight: 400;

      @include tablet {
        font-size: 40px;
      }
    }

    p {
      font-family: 'DM Sans', sans-serif;
      color: white;
      font-size: 20px;
      line-height: 140%;
      margin-top: 8px;
      font-weight: 400;

    }
  }



  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }

  &.header-nosotros {
    .header-img__content {
      max-width: 100%;

      h1 {
        max-width: 100%;

        @include tablet {
          font-size: 40px;
        }
      }
    }
  }
}